.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: white;
}
.login_logo {
  margin-top: 20px;
  margin-bottom: 20px;
  object-fit: contain;
  width: 100px;
  margin-right: auto;
  margin-left: auto;
}

.login_container{
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5;
    border: 1px solid lightgray;
    padding: 20px;
}