.header{
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;top: 0;
    top: 0;
    z-index: 100;
}

.header_logo{
    width: 100px;
    object-fit: contain;
    margin: 0 20px; 
    margin-top: 18px;
}

.header_searchIcon{
    padding: 5px;
    height: 22px !important;
    background-color: #cd9042;
}
.header_search{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}
.header_searchInput{
    height: 12px;
    padding: 10px;
    border: 10px;
    width: 100%;
}